// Fonts
$fontPrimary: 'Ruda', sans-serif;

//media
$tableMax: 1024px;
$tableMin: 768px;
$mobile-width: 374px;


$icomoon-font-family: "c" !default;
$icomoon-font-path: "fonts" !default;

$icon-ove: "\e91d";
$icon-blocks: "\e900";
$icon-chat: "\e901";
$icon-check-off: "\e902";
$icon-check-on: "\e903";
$icon-close: "\e904";
$icon-coins: "\e905";
$icon-copy: "\e906";
$icon-crash: "\e907";
$icon-credit-card: "\e908";
$icon-crown: "\e909";
$icon-eye: "\e90a";
$icon-faq: "\e90b";
$icon-fingerprint: "\e90c";
$icon-get-money: "\e90d";
$icon-horizontal-sort: "\e90e";
$icon-list: "\e90f";
$icon-money-hand: "\e910";
$icon-new-note: "\e911";
$icon-radio-button-off: "\e912";
$icon-radio-button-on: "\e913";
$icon-safe: "\e914";
$icon-send-money: "\e915";
$icon-shield: "\e916";
$icon-trash: "\e917";
$icon-user-list: "\e918";
$icon-user: "\e919";
$icon-volume-off: "\e91a";
$icon-volume-up: "\e91b";
$icon-arrow: "\e91c";
$icon-home: "\e91e";

